        <script>
            var el = document.getElementById('menuItems');
            var el2 = document.getElementById('MenuBtn')
            el2.addEventListener('click', function(event) {    
                if(el.style.display == "block") {
                    el.style.display = "none";
                } else {
                    el.style.display = "block";
                }
            }); 
        </script>
    </body>
</html>