<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MovieHolics</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Avenir" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    </head>
    <body>
            <div class="background">
                <div class="ui secondary menu stackable grid ">
                
                        <a href="/">
                          <div class="ui item animated fade inverted teal rounded huge  button">
                                
                                    <div class="visible content">MovieHolics</div>
                                   <div class="hidden content">HOME</div>
                    
                          </div>
                        </a> 
                        
                      <div class="right menu ">
                                <!--<a class="ui item" href="/login">-->
                                <!--    <div class="ui inverted grey compact button">LOGIN</div>-->
                                <!--</a>-->
                                <!--<a class="ui item" href="/register">-->
                                <!--    <div class="ui inverted grey compact button">REGISTER</div>-->
                                <!--</a>-->
                                <!--<a class="ui item" href="/logout">-->
                                <!--  <div class="ui inverted grey compact button">LOGOUT</div>-->
                                <!--</a>-->
                                <a class="ui item" href="/about">
                                  <div class="ui inverted grey compact button">ABOUT</div>
                                </a>
                      </div>
                </div>
           
                
 
        
    
    
