<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MovieHolics</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Avenir" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">  
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id='backDrop'></div>
        <div id="navbar">
            <a title="MovieHolics" href="/" class="navbar-elements">MovieHolics</a>
            <a href="javascript:void(0)" onclick="navbarCollapse();"><i class="fa fa-bars navbar-elements navbar-bars"></i></a>
            <div class="right-navbar">
                <% if(!currentUser) { %>
                    <a title='Login' id='loginBtn' class="navbar-elements">Login</a>
                    <a title="Register" id='registerBtn' class="navbar-elements">Register</a>
                <% } else { %>
                    <a title="Dashboard" href="/<%= currentUser._id %>" class="navbar-elements"><i style='font-size: 40px;' class="fas fa-address-card"></i></a>
                    <a title="Sign Out" href="/logout" class="navbar-elements"><i style='font-size: 35px;' class="fas fa-sign-out-alt"></i></a>
                <% } %>
                
            </div>
            <div class="flash-message-container">
                <% if(success != "") { %>
                    <div id="success"> <%= success %> </div>
                <% } else if (error != "") { %>
                    <div id="error"> <%= error %> </div>
                <% } %>
            </div>
        </div>
        
        <script>
            function navbarCollapse() {
                var myNavbar = document.getElementById("navbar");
                if(myNavbar.classList.contains("responsive")) {
                    myNavbar.classList.remove("responsive");
                } else {
                    myNavbar.classList.add("responsive");
                }
            }
        </script> 
                
 
        
    
    
