<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MovieHolics</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Avenir" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">  
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body style="background-color: black;">      
        <div class="ui text inverted menu" style="margin: 10px;">
            <div class="item">
                <a class="ui inverted header" href="/"><i class="film icon"></i>MovieHolics</a>
            </div>
            <div class="ui right dropdown item" id="MenuBtn">
                <i class="ui large bars icon"></i>
                <div class="menu" id="menuItems" style="width: 350px; height: 300px; background-color: rgba(0, 0, 0, 0.9);">
                <% if(!currentUser) { %>
                    <div class="item" style="width: 100%; text-indent: 10px;"><a style="font-weight: bolder; font-size: 20px;" href="/login"><i class="sign-in icon"></i>   LOGIN</a></div>
        <div class="item" style="width: 100%; text-indent: 10px;"><a style="font-weight: bolder; font-size: 20px;" href="/register"><i class="user plus icon"></i>   REGISTER</a></div>
                <% } else { %>
                    <div class="item" style="width: 100%; text-indent: 10px;"><a style="font-weight: bolder; font-size: 20px;" title="Dashboard" href="/<%= currentUser._id %>"><i style='font-size: 40px;' class="ui user icon"></i>   DASHBOARD</a></div>
                    <div class="item" style="width: 100%; text-indent: 10px;"><a style="font-weight: bolder; font-size: 20px;" href="/logout"><i class="sign-out icon"></i>   LOGOUT</a></div>
                <% } %>
                    <div class="item" style="position: absolute;bottom: 0;"><i class="copyright icon" style="color: wheat;"> 2020 - Abhinav Tomar</i></div>
            </div>
            </div>
        </div>
        <% if(error != "") { %>
            <div style="position: fixed; top:50px; z-index: 10; width: 100%" class="ui message" id="errorMsg">
                <i class="close icon" onclick="closeMsg()"></i>
                <div class="ui center aligned header">
                    Error Occured!
                </div>
                <p style="text-align: center;"><%= error %></p>
            </div>
        <% } %>

        <script>
            setTimeout(closeMsg, 3000);
            function closeMsg() {
                if(document.getElementById('errorMsg')) {
                    document.getElementById('errorMsg').style.display = 'none';
                }
            }
        </script>