<% include ./partials/header %>

<div class="ui main text container segment">
                <div class="ui huge header">MovieHolics<i class="images icon"></i></div>
                <div class="ui top attached">
                    <div class="item">
                        <img class="ui centered rounded image" src = "https://images.unsplash.com/photo-1505775561242-727b7fba20f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt = "BlogsImage">
                        <div class="content">
                            <span>Created By Abhinav Tomar</span>
                        </div>
                        <br>
                    
                        <div class="description">
                            <p>It is a simple app for now just containing and showing you the search results for your queries [movies] , will soon upgrade its features to create an account , add movies to your watchlist and share it to all your friends. <br>Long way to go.</p>                        
                        </div>
                        <br>
                        
                    </div>
                </div>
            </div>
            
<% include ./partials/footer %>