<% include partials/header %>

    <form action="/results" method="GET">
            <div class="ui fluid search">
                <div class="ui icon input">
                    <input class="prompt" type="text" name="search" placeholder="Search MovieHolics">
                    <i class="search icon"></i>
                </div>
                
                <div class="results">
                    
                </div>
            </div>
    </form>
            

<% include partials/footer %>
