<% include ./partials/header %>

<div class="ui huge header">Your Results</div>

    
    <% data["Search"].forEach(function(movie) { %>
          
          <div class="ui main text container segment">
                <div class="ui huge header"> <%= movie["Title"] %></div>
                <div class="ui top attached">
                    <div class="item">
                        <img class="ui centered rounded image" src = "<%= movie["Poster"] %>" alt = "BlogsImage">
                        <div class="content">
                            <span> <%= movie["Year"] %> </p>
                        </div>
                    </div>
                </div>
            </div>
    <% }) %>
</ul>

<div class="ui inverted teal button"><a href="/" >Search Again!</a></div>

<% include ./partials/footer %>








