<% include ../partials/header %>


<div class="ui container" style="margin-top: 70px;">
    <div class="ui segment"> 
        <form action="/movies" method="GET" class="ui form">
            <div class="field">
                <div class="field">
                    <label style="text-align: center;font-size: 20px;">Search Movieholics</label>
                    <br>
                    <input type="text" name="search" placeholder="Search Movie, Series ...">
                </div>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="year" placeholder="Year">
                    </div>
                    <div class="field">
                        <select id="genres" name="genre">
                            <option value="">Genre</option>
                            <option value="movie">Movies</option>
                            <option value="series">Series</option>
                            <option value="episode">Episode</option>
                        </select>
                    </div>
                </div>
            </div>
            <button class="ui green icon button"><i class="large search icon"></i>  Search</button>
        </form>
    </div>
</div>

<% include ../partials/footer %>