<% include ../partials/header %>

    <form action="/movies" method="GET">
        <div class="search-container">    
            <input type="text" class="search" name="search" placeholder="Search Movieholics">
            <br>
            <input type="text" class="year" name="year" placeholder="Year">
            <input list="genres" class="year" name="genre" placeholder="Genre">
                <datalist id="genres">
                    <option value="movie"></option>
                    <option value="series"></option>
                    <option value="episode"></option>
                </datalist>
            <br>
            <button type="submit" class="submit">Search</button>
        </div>
    </form>
            

<% include ../partials/footer %>
