<% include ../partials/header %>

    <form action="/movies" method="GET">
        <div class="search-container">    
            <input type="text" class="search" name="search" placeholder="Search Movieholics">
            <br>
            <button type="submit" class="submit">Search</button>
        </div>
    </form>
            

<% include ../partials/footer %>
