<%  include ../partials/header %>

<div class="register-container">
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="USERNAME" class="register-input">
        <input type="password" name="password" placeholder="PASSWORD" class="register-input">
        <br>
        <button class="register-btn">REGISTER</button>
</form>
</div>


<% include ../partials/footer %>