<% include ../partials/header %>

<div class="ui container">
    <h1 class="ui center aligned inverted header">REGISTER</h1>
    <form class="ui form" action="/register" method="POST">
        <div class="two fields">
            <div class="field">
                <label>Login Username</label>
                <input type="text" placeholder="Username" name="username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" placeholder="Password" name="password">
            </div>
        </div>
        <button class="ui red right floated button" type="submit">Register</button>
    </form>
</div>

<% include ../partials/footer %>