body {
    /* background-image: url("/images/background.jpg"); */
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    margin: 0px;
    font-family: "Avenir", "Montserrat";
}

#navbar {
    padding: 15px; 
    background-color: transparent;
}

.navbar-elements {
    padding: 5px;
    font-size: 26px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.navbar-elements:hover {
    color: tomato;
    font-weight: bolder;
    border-bottom: 2px solid tomato;
}


.right-navbar {
    float: right;
}

.navbar-bars {
    float: right;
    display: none;
}

.flash-message-container {
    text-align: center;
    color: black;
    margin: 10px;
}

.flash-message-container #success {
    color: coral;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    border-radius: 20px;
    font-weight:  bolder;
}

.flash-message-container #error {
    color: red;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    border-radius: 20px;
    font-weight:  bolder;
}

.search {
    width: 60%;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 25px;
    margin-top: 20%;
}

.search-container {
    text-align: center;
}

.year {
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 25px;
    margin-top: 10px;
}

.submit {
    margin: 10px;
    background-color: transparent;
    padding: 10px 25px;
    font-size: 25px;
    border: 2px solid steelblue;
    border-radius: 25px;
    color: steelblue;
    outline: none;
}

.submit:hover {
    background-color: steelblue;
    color: black;
    font-weight: bolder;
}

#backDrop {
    top: 0;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.96);
}

#loginBox {
    display: none;
    position: absolute;
    text-align: center;
    z-index: 20;
    width: 800px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: wheat;
}

#registerBox {
    display: none;
    position: absolute;
    text-align: center;
    z-index: 20;
    width: 800px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: wheat;
}

.login-input {
    padding: 10px;
    margin: 10px auto;
    border: none;
    display: block;
    width: 250px;
    outline: none;
}

.login-btn {
    padding: 10px;
    font-weight: bolder;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: lightsalmon;
    color: white;
    width: 100px;
    font-size: 16px;
}

.register-input {
    padding: 10px;
    margin: 10px auto;
    border: none;
    display: block;
    width: 250px;
    outline: none;
}

.register-btn {
    padding: 10px;
    font-weight: bolder;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: lightsalmon;
    color: white;
    width: 140px;
    font-size: 16px;
}

.user-container {
    color:white;
    margin: 15px;
    text-align: center;
    width: 400px;
    height: 400px;
    /* max-width: 500px; */
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

.myMovies-container {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
    text-align: center;
    height: 400px;
    margin: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    /* max-width: 500px; */
    display: inline-block;
}

.recommendation-container { 
    width: 400px;
    margin: 15px; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 400px;
    color: white;
    /* max-width: 500px; */
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
}

.recommend-container {
    text-align: center;
    color: white;
}

.dashboard-btn {
    padding: 10px;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: steelblue;
}

.dashboard-btn:hover {
    background-color: tomato;
    font-weight: bolder;
}

.follow-btn {
    font-size: 18px;    
}

#recommendBox {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.results-container {
    text-align: center;
    color: white;
}

.results-elements {
    display: inline-block;
    border: 1px solid white;
    padding: 10px;
    transition: padding 0.4s;
    margin: 5px;
    width: 400px;
}

.results-elements:hover {
    padding: 20px;
    background-color: yellow;
}

.results-btn {
    padding: 10px;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: steelblue;
}

.results-btn:hover {
    background-color: tomato;
    font-weight: bolder;
}

.movie-container {
    width: 350px;
    float: left;
    color: white;
    margin: 5px;
}

.movie-info {
    width: 100%;
    text-indent: 30px;
    color: yellow;
}

@media only screen and (max-width: 811px) {
    .right-navbar {
        display: none;
    }
    .navbar-bars {
        display: inline-block;
        position: absolute;
        right: 5px;
    }
    .search {
        margin-top: 45%;
        width: 90%;
    }
    
    #navbar.responsive {
        position: relative;
    }
    #navbar.responsive .right-navbar {
        margin-top: 10px;
        display: block;
        float: none;
    }
    .myMovies-container, .recommendation-container {
        margin: 2px auto;
        width: 350px;
        border: none;
    }
    .user-container {
        float: none;
    }
    .results-elements {
        padding: 1px;
        width: 350px;
        margin: 1px;
    }
    .year {
        width: 200px;
    }
}
